################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWebSolution/packages
/TestWebSolution/NUnitTestProject/bin/Debug
/TestWebSolution/NUnitTestProject/obj/Debug
